Rain Prediction

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df=pd.read_csv("arduino_data.csv")
df.head()

   Humidity  Temperature  Sunlight  Rain
0        60           19       890    80
1        70           18       840    92
2        40           25      1000    40
3        62           21       923    75
4        69           20       916    77

In [4]:
Reg_model=linear_model.LinearRegression()
Reg_model.fit(df[["Humidity", "Temperature", "Sunlight"]], df.Rain)

LinearRegression()

In [5]:
Reg_model.coef_

array([ 0.05211642, -2.22014201, -0.09032416])

In [6]:
Reg_model.intercept_

191.7920409598587

In [7]:
Reg_model.predict([[94,15,850]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([86.61331812])

In [10]:
# % of Rain = a.Humiity + b.Temperature + c.Sunlight + d
Rain =(0.052*94)+(-2.22*15)+(-0.09*850)+191.79
Rain

86.87799999999999